<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.jamek.baseweb.persistence.UserMapper">

	<resultMap type="User" id="UsersMap">
		<id column="id" property="id" />
		<result column="tb001_username" property="name" />
		<result column="tb001_password" property="password" />
	</resultMap>
	
	<select id="login" resultMap="UsersMap">
		SELECT 
			  id
			, tb001_username
			, tb001_password
		FROM tb001
		
		<where>
			AND tb001_username = #{username} 
			AND tb001_password = #{password}
		</where>
	</select>
</mapper>